In [3]:
def filter_list(a):
    l=[]
    for i in a:
        if type(i)==int:
            l.append(i)
        else:
            pass
    return l

In [4]:
filter_list([12,12,1,2,'df','343'])

[12, 12, 1, 2]

Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [5]:
def add_indexes(a):
    for i in range(len(a)):
        a[i]=a[i]+i
    return a

In [6]:
add_indexes([12,1,2,12])

[12, 2, 4, 15]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

In [17]:
import math
def cone_volume(h,r):
    area = (math.pi*h*r**2)/3
    return round(area,2)

In [18]:
cone_volume(3,2)

12.57

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

In [25]:
def triangle(n):
    triangle_ = 0
    for i in range(1,n+1):
        triangle_=triangle_ +i
    return triangle_

In [26]:
triangle(215)

23220

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [28]:
def missing_num(a):
    l=[]
    for i in range(1,11):
        l.append(i)
    for i in a:
        l.remove(i)
    return l

In [29]:
missing_num([1,3,4,5,6,7])

[2, 8, 9, 10]