Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(a):
    result = True
    a=str(a)
    for i in range(len(a)):
        if (a[i]==(a[-(i+1)])):
            pass
        else:
            result = False
    return result

In [2]:
is_symmetrical(9939)

False

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [3]:
def multiply_nums(a):
    mul = 1
    b=a.split(',')
    for i in b:
        i=int(i)
        mul=i*mul
    return mul

In [4]:
multiply_nums("1, 2, 3, 4")

24

In [5]:
multiply_nums("54, 75, 453, 0")

0

In [6]:
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [8]:
def square_digits(a):
    b=''
    a= str(a)
    for i in a:
        b= b+i*2
    b=int(b)
    return b

In [9]:
square_digits(122)

112222

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [14]:
def setify(a):
    a= set(a)
    a= sorted(a)
    return a

In [15]:
setify([112,12,23,2,4,343,5,45,4,65,76,7,6,2,2,2,2])

[2, 4, 5, 6, 7, 12, 23, 45, 65, 76, 112, 343]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [16]:
def mean(a):
    sum =0
    a= str(a)
    for i in a:
        sum = sum+int(i)
    mean = sum/len(a)
    return mean

In [17]:
mean(1233)

2.25